@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@700&display=swap');

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between
   
 
   
 
}
.retangulo-esquerdo{
    width: 92px;
    height: 231px;
    background-color: #D43A00;
}

.title-forms{
    padding-left: 64px;
    display: flex;
  
    flex-direction: column;
    margin-right: 422px;

    color: #000;
font-family: Sansita;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
 
   
   
    
}

 .retangulo-text{
    width: 407px;
    height: 228px;
    background-color: #D43A00;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap:28px;
   
   
}

.logo{
    width: 92px;
    height: 72px;
    border-radius: 0px  12px;
   display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 48px;
    font-family:Scheherazade New;
  

    background-color: #B7B7B7;
}



.title-logo{
    font-family: Sansita;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #F0F0F0;
}
    

